body{
    font: 15px Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
  
  /* Estilos globales */
  .contenedor{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  .boton1{
    height:38px;
    background:darkslategrey;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
  }
  
  .oscuro{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  /* Encabezado **/
  header{
    background:#2C2A2B;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#AC493C 5px solid;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #marca{
    float:left;
  }
  
  header #marca h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .resaltado, header .actual a{
    color:rgb(110, 141, 141);
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  
  /* Cabecera con imagen */
  #cabecera{
    min-height:400px;
    background: rgba(255, 255, 255, 0.5);
    text-align:center;
    color:#ffffff;
    
  position: relative;
  }
  
  #cabecera h1{
    margin-top:10px;
    font-size:2.5em;
    margin-bottom:10px;
    
  }
  
  #cabecera p{
    font-size:1.5em;
  }

  #cabecera .contenedor{
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    -webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
  
  }
      

  #cabecera .slide {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-animation: slide 10s infinite;
    animation: slide 10s infinite;
    overflow: hidden; }

    #cabecera .slide:nth-child(1) {
        left: 0%;
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
        background-image: url(../img/cabecera.jpg);
        background-size: cover;
        background-position: center; }

    #cabecera .slide:nth-child(2) {
            left: 100%;
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
            background-image: url(../img/cabecera2.jpg);
            background-size: cover;
            background-position: center; }
    
    #cabecera .slide:nth-child(3) {
        left: 100%;
        -webkit-animation-delay: 4.5s;
        animation-delay: 4.5s;
        background-image: url(../img/cabecera3.png);
        background-size: cover;
        background-position: center;}

    #cabecera .slide:nth-child(4) {
            left: 100%;
            -webkit-animation-delay: 7s;
            animation-delay: 7s;
            background-image: url(../img/cabecera4.jpg);
            background-size: cover;
            background-position: center; }
            
            
            @-webkit-keyframes slide {
                0% {
                  left: 100%;
                  width: 100%; }
                5% {
                  left: 0%; }
                25% {
                  left: 0%; }
                30% {
                  left: -100%;
                  width: 100%; }
                31% {
                  left: -100%;
                  width: 0%; }
                100% {
                  left: 100%;
                  width: 0%; } }
              
              @keyframes slide {
                0% {
                  left: 100%;
                  width: 100%; }
                5% {
                  left: 0%; }
                25% {
                  left: 0%; }
                30% {
                  left: -100%;
                  width: 100%; }
                31% {
                  left: -100%;
                  width: 0%; }
                100% {
                  left: 100%;
                  width: 0%; } }
  
  
  
                  /* Formulario */
  #boletin{
    padding:15px;
    color:#ffffff;
    background:#24282b;
  }
  
  #boletin h1{
    float:left;
  }
  
  #boletin form {
    float:right;
    margin-top:15px;
  }
  
  #boletin input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
  }
  
  
/* Cajas */
#cajas{
    margin-top:20px;
  }
  
  #cajas .caja{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #cajas .caja img{
    width:90px;
  }
  
  /* Lateral */
  aside#lateral{
    float:right;
    width:30%;
    margin-top:10px;
  }
  
  /* Main-col */
  article#main-col{
    float:left;
    width:65%;
  }
  
  /* Servicios */
  ul#servicios li{
    list-style: none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
  }
  
  /* footer*/

  
footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#AC493C;
    text-align: center;
  }



  input, textarea{
    width: 100%;
    height: 35px;
    border: 1px solid gray; 
    margin-bottom: 5px;
  }
  
  textarea{
    height: 120px;
  }
  
  input[type='submit']{
    background-color: #e8491d;
    color: #fff;  
  }
  
  /* Media Queries */
  @media(max-width: 768px){
    header #marca,
    header nav,
    header nav li,
    #boletin h1,
    #boletin form,
    #cajas .caja,
    article#main-col,
    aside#lateral{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #boletin h1{
      margin-top:40px;
    }
  
    #boletin button{
      display:block;
      width:100%;
    }
  
    #boletin form input[type="email"]{
      width:100%;
      margin-bottom:5px;
    }
  
    input, textarea{
      width: 98%; 
    }
  }
  